$color-primary: #ff7506;

$color-white: #ffffff;
$color-black: #000000;

$color-text: #535261;

$color-background: #b1b1b1;

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// MAIN BODY
$border-radius: 0.8rem;

// FONT FAMILY
$main-font: 'Nunito';
